<div class="container d-flex justify-content-between">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/panetone.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">panetone</h5>
          <p class="card-text">panetone delicioso e super macio que você não ficará satisfeito apenas com o primeiro pedaço!</p>
          <a href="#" class="btn btn-primary  w-2">compre agora</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../assets/doced.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">docinhos</h5>
              <p class="card-text">panetone delicioso e super macio que você não ficará satisfeito apenas com o primeiro pedaço!</p>
              <div class="container d-flex justify-container-center">
              <a href="#" class="btn btn-primary  w-2">compre agora</a>
              </div>
            </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/receita-leite-ninho-doce-boneco-neve-natal.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">snowman candy</h5>
          <p class="card-text">doce delicioso e super macio que você não ficará satisfeito apenas com a primeira mordida!</p>
          <div class="container d-flex justify-container-center">
          <a href="#" class="btn btn-primary  w-2">compre agora</a>
          </div>
        </div>
  </div>
</div>